{% if page.layout == 'post' and page.comments != false %}
<div id="tcomment"></div>

<script src="https://cdn.jsdelivr.net/npm/twikoo@1.7.19/dist/twikoo.all.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    twikoo.init({
      envId: 'https://twikoo-vercel-git-main-zhaory514114s-projects.vercel.app',
      el: '#tcomment',
      lang: 'zh-CN'
    });
  });
</script>
{% endif %}
